<section class="classification-container">
    <!-- Content Heading -->
    <% if (title) { %>
        <h1 class="classification-title"><%= title %></h1>
    <% } else { res.redirect('/') } %>

    <!-- Optional Message Block -->
    <%# messages() %>

    <section class="vehicle-grid">
        <%- grid %>
    </section>
</section>
